@import "tailwindcss";

html {
    scroll-behavior: smooth;
}

body {
    @apply bg-gray-50 antialiased;
}

::selection {
    @apply bg-gray-800 text-white;
}

* {
    @apply transition-colors duration-200;
}